*{
    box-sizing: border-box;
}
body{
    background-color: black;
    background-image: url(/src/images/pust.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.game{
   display: block;
}
.border{
   width: 100%;
   border: 2px solid green;
}

.line{
   position: relative;
   width: 5px;
   height: 30px;
   background-color: blue;
   left: 90%;
   animation: line 3s linear infinite;
}



@keyframes line{
   0%{
       left:90%;
   }
   100%{
       left:0%;
   }
}

.block{
   position: relative;
   top:30px;
   width: 50px;
   height: 50px;
   background-color: red;
   border-radius: 18px;
}

.jump{
   animation: block 0.8s linear;
}

@keyframes block{
   0%{
      top:30px; 
   }
   30%{
       top:0px;
   }
   50%{
       top: -20px;
   }
   80%{
       top:0px;
   }
   100%{
      top:30px; 
   }
}
.start-block{

   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   h2{
      color: white;
      font-size: 35px;
   }
   button{
      background-color: green;
      width: 30%;
      height: 70px;
      border:none;
      border-radius: 30px;
      cursor: pointer;
      color: white;
      font-size: 20px;
   }
}


p{
   text-align: center;
  color: white;
   font-size: 40px;
 }